$yellow-color: #fbffa7;
$light-blue-color: #b1c5ff;
$green-color: #b6ffc0;
$red-color: #ff764d;
$purple-color: #d5b3ff;
$dark-blue: #0000ff;

@font-face {
  font-family: "futura-pt";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTBook.otf") format("truetype");
}

@font-face {
  font-family: "futura-pt-bold";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTCondMedium.otf") format("truetype");
}

@font-face {
  font-family: "futura-pt-light";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTLight.otf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  width: 100vw;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.font-regular {
  font-family: "futura-pt";
}
.font-light {
  font-family: "futura-pt-light";
}
.font-bold {
  font-family: "futura-pt-bold";
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
