$yellow-color: #fbffa7;
$light-blue-color: #b1c5ff;
$green-color: #b6ffc0;
$red-color: #ff764d;
$purple-color: #d5b3ff;
$dark-blue: #0000ff;

@font-face {
  font-family: "futura-pt";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTBook.otf") format("truetype");
}

@font-face {
  font-family: "futura-pt-bold";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTBold.otf") format("truetype");
}

@font-face {
  font-family: "futura-pt-light";
  src: local("futura-pt"),
    url("./fonts/futura-pt/FuturaPTLight.otf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  width: 100vw;
  line-height: 1.5;
  overflow-x: hidden;
  letter-spacing: 0.7px;
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.font-regular {
  font-family: "futura-pt";
}
.font-light {
  font-family: "futura-pt-light";
}
.font-bold {
  font-family: "futura-pt-bold";
}
.container {
  margin: 0 auto;
  padding: 16px 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-flex {
  display: flex;
  align-items: baseline;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}
li {
  list-style-type: none;
}
svg {
  margin: 0 4px;
}
input,
button {
  background: transparent;
  border: 0;
  outline: 0;
  font-family: inherit;
}

// Header
.header {
  border-bottom: 2px solid #eee;
  .container {
    .left {
      .logo {
        margin: 4px 30px 0 0;
        img {
          width: 100%;
        }
      }
      .menu {
        font-size: 16px;
        letter-spacing: 0.8px;
        ul {
          li {
            cursor: pointer;
            margin-right: 18px;
            ul {
              .more {
                color: $red-color;
                svg {
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
    }
    .right {
      ul {
        li {
          margin-right: 18px;
          cursor: pointer;
          &:first-child {
            color: $dark-blue;
            font-size: 18px;
          }
        }
      }
    }
  }
  .more-container {
    .more-content {
      h3 {
        font-size: 24px;
      }
      ul {
        display: flex;
        margin-top: 10px;
        li {
          cursor: pointer;
          margin-right: 25px;
        }
      }
      .top {
        margin-bottom: 30px;
      }
      .bottom {
        margin-bottom: 20px;
        h4 {
          font-size: 16px;
        }
        ul {
          align-items: baseline;
          justify-content: space-between;
          li {
            max-width: 250px;
          }
        }
      }
    }
  }
}
.header-mobile {
  display: none;
}

// Menubar
.menubar {
  margin: 10px 0;
  .container {
    .stickybar {
      ul {
        display: flex;
        .nav-links {
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          margin-right: 30px;
        }
      }
    }
  }
}

// Jobs
.jobs {
  margin: 20px 30px;
  .jobs-header {
    position: relative;
    margin: 0 8vw 8vw 8vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://ableton-production.imgix.net/jobs/header.jpg?auto=format&dpr=2.0&fit=crop&fm=jpg&h=680&ixjsv=1.1.3&q=50&w=1067");
    .headline {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.8rem;
      width: 100%;
      text-align: center;
      color: turquoise;
    }
  }
  .jobs-text {
    width: 50vw;
    margin: 0 auto;
    .body-text {
      h1 {
        font-size: 30px;
        margin: 0 0 21px;
        line-height: 1.4;
      }
      p {
        font-size: 20px;
        margin: 0 0 20px;
      }
    }
    .job-dept {
      margin-top: 40px;
      margin-bottom: 40px;
      h2 {
        font-size: 20px;
      }
      p {
        margin-top: 18px;
        font-size: 20px;
        color: $dark-blue;
      }
      small {
        font-size: 20px;
        color: #949494;
      }
    }
  }
}

// Apprenticeships
.apprenticeships {
  margin: 20px 30px;
  padding: 0 8vw 4vw 8vw;
  .appren-header {
    .headline {
      font-size: 60px;
    }
  }
  .appren-text {
    width: 65%;
    margin-top: 1rem;
    padding-right: 8vw;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    .img-container {
      margin: 2.2rem 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

// Footer
.footer {
  margin-top: 20px;
  border-top: 2px solid #eee;
  .container {
    .footer-content {
      padding: 4.33vw;
      padding-bottom: 2.33vw;
      .footer-row {
        margin-bottom: 50px;
        h1 {
          font-size: 4rem;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        .footer-col {
          min-width: 30%;
          a {
            font-size: 16px;
            display: flex;
            align-items: center;
            svg {
              margin-top: 4px;
              font-size: 12px;
              margin-left: 5px;
            }
          }
          .social-media {
            margin-top: 10px;
            .flex {
              margin-right: 10px;
            }
            svg {
              font-size: 30px;
              height: 40px;
              padding: 1px;
            }
            .facebook {
              background: #3477f2;
              color: #fff;
              border-radius: 2px;
            }
            .twitter {
              background: #1da1f2;
              color: #fff;
              border-radius: 2px;
            }
            .youtube {
              background: #ff001d;
              color: #fff;
              border-radius: 2px;
            }
            .insta {
              background: #f77737;
              color: #fff;
              border-radius: 2px;
            }
          }
          .options {
            .css-13cymwt-control {
              border-radius: 0;
              background: #eee;
              border: none;
            }
            .css-1xc3v61-indicatorContainer {
              padding: 0;
              color: #222;
            }
            .select {
              width: 100%;
              font-family: inherit;
              &:first-child {
                margin-right: 10px;
                width: 80%;
              }
              &::placeholder {
                font-size: 8px !important;
              }
            }
          }
          .signup-form {
            width: 100%;
            display: flex;
            margin-top: 10px;
            input {
              background: #eee;
              padding: 10px 15px;
              width: inherit;
              font-size: 16px;
            }
            button {
              background: $dark-blue;
              color: #fff;
              width: 30%;
              font-size: 16px;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        li {
          font-size: 15px;
          margin-right: 15px;
        }
      }
      .logo {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .jobs {
    .jobs-text {
      width: 66.66vw;
    }
  }
  .apprenticeships {
    .appren-header {
      .headline {
        font-size: 40px;
      }
    }
    .appren-text {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .container {
      .top {
        display: flex;
        align-items: center;
        .logo {
          margin-right: 30px;
        }
        .menu-mobile {
          cursor: pointer;
        }
      }
      .bottom {
        .mobile-links {
          padding: 10px;
          ul {
            li {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
  .footer {
    .footer-row {
      flex-direction: column;
      margin-bottom: 20px !important;
      .footer-col {
        margin-bottom: 20px;
        .options {
          .select {
            width: 100%;
          }
        }
        &:last-child {
          min-width: 50%;
        }
      }
    }
    .help {
      flex-direction: column;
      align-items: baseline;
      .contact {
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 20px;
      }
    }
  }
  .jobs {
    .jobs-header {
      .headline {
        font-size: 90px;
      }
    }
    .jobs-text {
      .body-text {
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .job-dept {
        h2,
        p,
        small {
          font-size: 16px;
        }
      }
    }
  }
  .apprenticeships {
    .appren-text {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .jobs {
    margin-left: 4.33vw;
    margin-right: 4.33vw;
    .jobs-header {
      margin: 0 4vw 4vw 4vw !important;
      .headline {
        font-size: 40px;
      }
    }
    .jobs-text {
      width: 100%;
      padding: 4vw;
    }
  }
  .apprenticeships {
    padding: 0 2vw 2vw 2vw;
    .appren-text {
      padding-right: 0 !important;
    }
  }
}
